<div class="tw-reset font-sans lg:text-base">
  <div
    class="flex flex-col space-y-6 max-w-full overflow-hidden pl-8 lg:flex-row lg:space-y-0 lg:space-x-4 lg:pl-0"
  >
    <div class="lg:flex-1/7">
      <div class="lg:hidden" style="width: 300%;">
        <div class="p-2 bg-black text-white font-black" style="width: 8%;">
          8%
        </div>
      </div>
      <div class="h-48 hidden lg:block relative">
        <div
          style="height: 300%;"
          class="bottom-0 inset-x-0 absolute flex flex-col-reverse"
        >
          <div
            class="p-2 bg-black text-white font-black text-center text-lg flex justify-center items-end"
            style="height: 8%;"
          >
            8%
          </div>
        </div>
      </div>

      <dl>
        <dt class="mt-2 font-bold lg:mt-8 lg:mb-2">Progressive Activists</dt>
        <dd>Younger, highly engaged, secular, cosmopolitan, angry</dd>
      </dl>
    </div>

    <div class="flex lg:flex-col lg:relative lg:flex-4/7">
      <div
        class="bg-orange-300 text-center uppercase leading-3 tracking-wider font-black -ml-6 mr-3 text-vertical max-w-2 lg:max-w-none lg:text-horizontal lg:absolute lg:w-full lg:ml-0 lg:mt-49"
      >
        The &nbsp;Exhausted&nbsp; Majority
      </div>

      <div
        class="space-y-6 flex-grow lg:flex lg:flex-row lg:space-y-0 lg:space-x-4"
      >
        <div class="lg:flex-1">
          <div class="lg:hidden" style="width: 300%;">
            <div
              class="p-2 bg-orange-600 text-white font-black"
              style="width: 11%;"
            >
              11%
            </div>
          </div>
          <div class="h-48 hidden lg:block relative">
            <div
              style="height: 300%;"
              class="bottom-0 inset-x-0 absolute flex flex-col-reverse"
            >
              <div
                class="p-2 bg-orange-600 text-white font-black text-center text-lg flex justify-center items-end"
                style="height: 11%;"
              >
                11%
              </div>
            </div>
          </div>

          <dl>
            <dt class="mt-2 font-bold lg:mt-8 lg:mb-2">Traditional Liberals</dt>
            <dd>Older, retired, open to compromise, rational, cautious</dd>
          </dl>
        </div>

        <div class="lg:flex-1">
          <div class="lg:hidden" style="width: 300%;">
            <div
              class="p-2 bg-orange-600 text-white font-black"
              style="width: 15%;"
            >
              15%
            </div>
          </div>
          <div class="h-48 hidden lg:block relative">
            <div
              style="height: 300%;"
              class="bottom-0 inset-x-0 absolute flex flex-col-reverse"
            >
              <div
                class="p-2 bg-orange-600 text-white font-black text-center text-lg flex justify-center items-end"
                style="height: 15%;"
              >
                15%
              </div>
            </div>
          </div>

          <dl>
            <dt class="mt-2 font-bold lg:mt-8 lg:mb-2">Passive Liberals</dt>
            <dd>Happy, insecure, distrustful, disillusioned</dd>
          </dl>
        </div>

        <div class="lg:flex-1">
          <div class="lg:hidden" style="width: 300%;">
            <div
              class="p-2 bg-orange-600 text-white font-black"
              style="width: 26%;"
            >
              26%
            </div>
          </div>
          <div class="h-48 hidden lg:block relative">
            <div
              style="height: 300%;"
              class="bottom-0 inset-x-0 absolute flex flex-col-reverse"
            >
              <div
                class="p-2 bg-orange-600 text-white font-black text-center text-lg flex justify-center items-end"
                style="height: 26%;"
              >
                26%
              </div>
            </div>
          </div>

          <dl>
            <dt class="mt-2 font-bold lg:mt-8 lg:mb-2">
              Politically Disengaged
            </dt>
            <dd>
              Young, low-income, distrustful, detached, patriotic,
              conspiratorial
            </dd>
          </dl>
        </div>

        <div class="lg:flex-1">
          <div class="lg:hidden" style="width: 300%;">
            <div
              class="p-2 bg-orange-600 text-white font-black"
              style="width: 15%;"
            >
              15%
            </div>
          </div>
          <div class="h-48 hidden lg:block relative">
            <div
              style="height: 300%;"
              class="bottom-0 inset-x-0 absolute flex flex-col-reverse"
            >
              <div
                class="p-2 bg-orange-600 text-white font-black text-center text-lg flex justify-center items-end"
                style="height: 15%;"
              >
                15%
              </div>
            </div>
          </div>

          <dl>
            <dt class="mt-2 font-bold lg:mt-8 lg:mb-2">Moderates</dt>
            <dd>
              Engaged, civic-minded, middle-of-the-road, pessimistic, Protestant
            </dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="lg:flex-1/7">
      <div class="lg:hidden" style="width: 300%;">
        <div class="p-2 bg-black text-white font-black" style="width: 19%;">
          19%
        </div>
      </div>
      <div class="h-48 hidden lg:block relative">
        <div
          style="height: 300%;"
          class="bottom-0 inset-x-0 absolute flex flex-col-reverse"
        >
          <div
            class="p-2 bg-black text-white font-black text-center text-lg flex justify-center items-end"
            style="height: 19%;"
          >
            19%
          </div>
        </div>
      </div>

      <dl>
        <dt class="mt-2 font-bold lg:mt-8 lg:mb-2">
          Traditional Conservatives
        </dt>
        <dd>
          Religious, middle class, patriotic, moralistic
        </dd>
      </dl>
    </div>

    <div class="lg:flex-1/7">
      <div class="lg:hidden" style="width: 300%;">
        <div class="p-2 bg-black text-white font-black" style="width: 6%;">
          6%
        </div>
      </div>
      <div class="h-48 hidden lg:block relative">
        <div
          style="height: 300%;"
          class="bottom-0 inset-x-0 absolute flex flex-col-reverse"
        >
          <div
            class="p-2 bg-black text-white font-black text-center text-lg flex justify-center items-end"
            style="height: 6%;"
          >
            6%
          </div>
        </div>
      </div>

      <dl>
        <dt class="mt-2 font-bold lg:mt-8 lg:mb-2">Devoted Conservatives</dt>
        <dd>
          Retired, highly engaged, uncompromising, patriotic
        </dd>
      </dl>
    </div>
  </div>

  <div class="text-xs mt-4">
    Source:
    <a
      href="https://hiddentribes.us/profiles/"
      class="text-orange-600 underline"
      >https://hiddentribes.us/profiles/</a
    >
  </div>
</div>
